// Permanent Marker import from google fonts

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

//
// CSS reset
//

html, body, div, span, h1, h2, h3, h4, a, ol, ul, li, form, label, article, aside, figure, figcaption, footer, header, nav, p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: 'Permanent Marker', cursive;
  background-color: black;
  width: 100%;
  // position: relative;
}

ol, ul {
  list-style: none;
}


img {
  width: 100%
}

//
// header CSS
//

.header-container {
    height: 100px;
    display: flex;
    background-color: red;
    justify-content: space-around;
    align-items: center;
}
 
.other-func a, .ext-links a {
    color: black;
    margin: 7px;
    padding: 4px;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 15%;
}

.header-container h1 {
  font-size: 45px;
}

//
// footer CSS
//

footer {
  height: 100px;
  width: 100%;
  background-color: red;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.creator > a {
  display:inline-block;
  color: black;
  margin: 7px;
  padding: 4px;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 15%;
}


//
// body CSS
//

.keys {
    display: flex;
    justify-content: center;
    //margin: 0 auto;
    align-items: center;
    // position: absolute;
    // bottom: 20%;
    // left: 20%;
}

.key {
  height: 85px;
  width: 85px;
  border: 2px solid goldenrod;
  padding: 5px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .08s;
  justify-content: space-around;
}

.key:hover {
  background-color: navy;
  
}

.main {
  height: 500px;
}

// @media  {
  
// }

.key > p {
  color: goldenrod;
  text-align: center;
}

.playing {
  border: 3px solid blue;
  transform: scale(1.1);
  height: 90px;
  width: 90px;
  background-image: url(../images/playing.jpeg);
  background-size: cover;
  font-size: 20px;
}

// .memory {
//   position: relative;
// }

// // .memory:hover {

// // }

// .under-con {
//   position: absolute;
//   left: 70px;
//   //bottom: 5px;
//   padding: 50;
//   width: 100px;
//   height: 100px;
//   //display: none;
//   background-color: black;
//   color: white;
// }

//
// drumless tracks buttons
//

#mute {
  margin: 20px;
}

.vol-label {
  margin: 20px;
  color: white;
}

.drumless {
  margin: 20px;
  padding: 15px;
  width: 235px;
  //height: 200px;
  // display: flex;
  // flex-direction: column;
  border: 3px solid red;
  border-radius: 10px;
}
.music {
  display: flex;
  justify-content: center;
}

.drumless > div > p {
  color: white;
  font-size: 20px;
  padding-bottom: 5px;
  text-align: center;
}

aside {
  margin: 20px;
  padding: 20px;
  width: 120px;
  //height: 200px;
  display: flex;
  flex-direction: column;
  border: 3px solid red;
  border-radius: 10px;
}

button {
  margin: 5px;
}

