// Permanent Marker import from google fonts
@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Meow+Script&family=Open+Sans:wght@500&display=swap');
//
// CSS reset
//

html, body, div, span, h1, h2, h3, h4, a, ol, ul, li, form, label, article, aside, figure, figcaption, footer, header, nav, p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: 'Permanent Marker', cursive;
  //background-color: black;
  background-image: url(../images/background.jpeg);
  width: 100%;
}

ol, ul {
  list-style: none;
}

//
// header CSS
//

.header-container {
    height: 100px;
    display: flex;
    background-color: red;
    justify-content: space-around;
    align-items: center;
}
 
.other-func span, .ext-links span {
    color: black;
    margin: 7px;
    padding: 4px;
    font-size: 20px;
    text-shadow: 1px 1px goldenrod;
    text-decoration: none;
}

.header-container h1 {
  font-size: 45px;
  text-shadow: 2px 2px goldenrod;
}

.header-container h1:hover {
  color: goldenrod;
  text-shadow: 3px 3px black;
}

.about-popup{
  cursor: pointer;
}

//
// footer CSS
//

footer {
  height: 100px;
  width: 100%;
  background-color: red;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.copyright-container{
  width: 360px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.creator {
  display: flex;
  flex: space-around;
  justify-content: center;
  align-items: center;
}

.creator > span {
  margin: 5px;
  padding: 5px;
}

.gitin {
  margin: 5px;
  padding: 5px;
}

.gitin > a {
  font-size: 30px;
  color: black;
  text-shadow: goldenrod;
  padding: 5px;
} 

.gitin > a:last-child {
  color: #0e76a8;
}

footer > .copyright-container, .creator > span {
  font-size: 20px;
  text-shadow: 2px 2px goldenrod;
}

footer > span {
  font-size: 40px;
  color: white;
  text-shadow: 1px 1px goldenrod;
  font-family: 'Festive', cursive;
}

//
// body CSS
//

.parent-keys {
  position: relative;
  bottom: 11%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.keys {
  position: absolute;
  text-align: center;
  display: inline-flex;
  background: repeating-linear-gradient(45deg, blue, green, red);  
}

.key {
  //background: linear-gradient(85deg, black, goldenrod);
  color: black;
  background-color: black;
  height: 85px;
  width: 85px;
  border: 2px solid goldenrod;
  padding: 5px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .08s;
  justify-content: space-around;
}

.key:hover {
  background-color: greenyellow;
  
}

// .main {
//   height: 600px;
// }

.key > p {
  color: goldenrod;
  text-align: center;
}

.playing {
  border: 3px solid blue;
  transform: scale(1.1);
  height: 90px;
  width: 90px;
  background-image: url(../images/playing.jpeg);
  background-size: cover;
  font-size: 20px;
}

//
// drumless tracks buttons
//

section {
  display: flex;
  height: 565px;
}

.track-container {
  display: flex;
  flex-direction: column;
}

#volume {
  margin: 20px;
}

.vol-label {
  margin: 20px;
  color: white;
}

.vol-label:hover {
  color: goldenrod;
}

.drumless {
  background-color: black;
  margin: 20px;
  padding: 15px;
  width: 265px;
  border: 3px solid red;
  border-radius: 10px;
}

.drumless > div > p {
  color: white;
  font-size: 20px;
  padding-bottom: 5px;
  text-align: center;
}

.drumless > div > p:hover {
  color: goldenrod;
}

aside {
  margin: 20px;
  padding: 20px;
  width: 120px;
  display: flex;
  flex-direction: column;
  border: 3px solid red;
  border-radius: 10px;
}

button {
  margin: 5px;
  padding: 5px;
  font-size: 17px;
  background-color: white;
  color: black;
  font-family: inherit;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: goldenrod;
  color: white;
  cursor: pointer;
}

#close{
  position: absolute;
  display: inline-block;
  width: 100px;
  top: 102%;
  right:1%;
}

#popup-container {
  display: none;
}

#popup-container.show {
  display: block;
}

#popup {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 15%;
  left: 20%;
  border: 3px solid red;
  border-radius: 10px;
}

//
// about popup msg
//

#about-popup{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 12%;
  right: 2%;
  border: 3px solid red;
  border-radius: 10px;
  width: 900px;
  height: 480px; 
  background-color: black;
  // position: relative;
}

#about-msg{
  color:white;
  font-size: 25px;
  margin: 5px 20px
}

#about-close{
  display: inline-block;
  width: 100px;
  position:absolute;
  right:1%;
  top: 102%;
}

.game{
  color:goldenrod;
}

figure {
  //display: flex;
  padding: 10px;
  margin: 10px;
}

#about-container {
  position: absolute;
  background-color: black;
  z-index: 1;
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about {
  font-family:Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  font-size: 30px;
  margin: 20%;
  padding: 10px;
}

.splash-words{
  // margin: 20%;
  font-family: 'Permanent Marker', cursive;

}

.copyright{
  font-size: 30px;
}

.glow {
  font-family: 'Meow Script', cursive;
  // font-size: px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.tie{
  color: black;
}

.welcome {
  color: white;
  font-size: 95px;
}

.splash-creator{
  font-size: 20px;
  font-family: 'Permanent Marker', cursive;

}

#jam{
  margin: 5px;
  padding: 15px;
  font-size: 17px;
  background-color: white;
  color: black;
  font-family: inherit;
  border-radius: 5px;
  cursor: pointer;
}

#jam:hover {
  background: goldenrod;
  color: white;
  cursor: pointer;
}

.avatar{
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.enjoy {
  font-family: 'Permanent Marker', cursive;
  color: goldenrod;
}

#about span {
  color: red;
  font-family: 'Permanent Marker', cursive;
}

#about a {
  font-family: 'Permanent Marker', cursive;
  text-decoration: none;
  color:goldenrod;
}

#about-container.bye {
  display: none;
}

#whiplash {
  display: none;
}

#whiplash.show {
  display: inline-block;
}

#will {
  display: none;
}

#monkey {
  display: none;
}

#monkey.show {
  display: inline-block;
}

#will.show {
  display: inline-block;
}

#whiplash.show {
  display: inline-block;
}

//
// canvas image
//


#canvas1 {
  width: 100%;
  height: 100%;
}

//
// Responsive page
//

@media screen and (max-width: 1200px) {
  section {
    height: 550px;
  }

  #volume {
    width: 50%;
  }

  .coming-soon {
    position: fixed;
    top: 13%;
    left: 10%;
    height: 150px;
    width: 250px;
  }

  .coming-soon > p {
    font-size: 25px;
  }

  #about > p {
    font-size: 17px;
  }

  #about {
    width: 675px;
    height: 505px;
  }
}
